*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    padding: 40px;
}

.link{
    align-self: center;
}

.link a{
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.button{
    border-radius: 50%;
    padding: 7px 16px;
    border-radius: 40px;
    text-decoration: none;
    color: black;    
}
.white{
    background-color:white;
}

.black{
    background-color: black;
    color: white;
}

.text-head{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    color: white;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
}

h1{
    font-size: 56px;
}

.text-head p{
    margin: 40px 0px 35px;
}

.text-head a{
    margin: 24px 24px 0px 0px;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block{
    display: flex;
    padding: 56px;
    max-width: 1000px;
    margin-bottom: 100px;
}

.text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.text p{
    font-size: 20px;
}

.dx{
    flex-direction: row-reverse;
}

.final-block{
    max-width: 1000px;
    text-align: center;
}

.final-block h2{
    margin-bottom: 30px;
}

.final-block p{
    margin-bottom: 30px;
}

.final-button{
    background-image: url(../img/stars.svg);
    background-size: cover;
    max-width: 500px;
    text-align: center;
    margin-bottom: 120px;
}

.blue{
    background-color: #5865f2;
    color: white;
    font-size: 20px;
}
.final-button h2{
    margin: 30px;
}
.flex-footer{
    background-color: #23272a;
    padding-top: 80px;
    padding-bottom: 64px;
    display: flex;
    padding-left: 2rem;
}

.flex-footer h3{
    color: #5865f2;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}
.social{
    color: white;
    font-size: 30px;
    display: flex;
}

.social i{
    margin: 8px;
}

.select{
    color: white;
}

.select img{
    width: 30px;
    vertical-align: middle;
}
.col{
    margin: 5rem;
}

ul{
    list-style: none;
}

.title-footer{
    color: #5865f2;
    text-decoration: none;
    line-height: 3rem;
    font-weight: 600;
}

.link-footer{
    color: white;
    text-decoration: none;
    line-height: 3rem;
}

hr{
    color: #5865f2;
}

.last-footer{
    background-color: #23272a;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid #5865f2;
}
